<%= form_for(@cage) do |f| %>
  <% if @cage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cage.errors.count, "error") %> prohibited this cage from being saved:</h2>

      <ul>
      <% @cage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :occupancy %><br>
    <%= f.number_field :occupancy %>
  </div>
  <div class="field">
    <%= f.label :power_status %><br>
    <%= f.text_field :power_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
