<p id="notice"><%= notice %></p>

<h1>Listing Cages</h1>

<table>
  <thead>
    <tr>
      <th>Occupancy</th>
      <th>Power status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cages.each do |cage| %>
      <tr>
        <td><%= cage.occupancy %></td>
        <td><%= cage.power_status %></td>
        <td><%= link_to 'Show', cage %></td>
        <td><%= link_to 'Edit', edit_cage_path(cage) %></td>
        <td><%= link_to 'Destroy', cage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cage', new_cage_path %>
