<p id="notice"><%= notice %></p>

<p>
  <strong>Occupancy:</strong>
  <%= @cage.occupancy %>
</p>

<p>
  <strong>Power status:</strong>
  <%= @cage.power_status %>
</p>

<%= link_to 'Edit', edit_cage_path(@cage) %> |
<%= link_to 'Back', cages_path %>
