<%= form_for(@dinosaur) do |f| %>
  <% if @dinosaur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dinosaur.errors.count, "error") %> prohibited this dinosaur from being saved:</h2>

      <ul>
      <% @dinosaur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cage_id %><br>
    <%= f.number_field :cage_id %>
  </div>
  <div class="field">
    <%= f.label :dinosaur_type_id %><br>
    <%= f.number_field :dinosaur_type_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
