<p id="notice"><%= notice %></p>

<p>
  <strong>Cage:</strong>
  <%= @dinosaur.cage_id %>
</p>

<p>
  <strong>Dinosaur type:</strong>
  <%= @dinosaur.dinosaur_type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dinosaur.name %>
</p>

<%= link_to 'Edit', edit_dinosaur_path(@dinosaur) %> |
<%= link_to 'Back', dinosaurs_path %>
