<%= form_for(@dinosaur_type) do |f| %>
  <% if @dinosaur_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dinosaur_type.errors.count, "error") %> prohibited this dinosaur_type from being saved:</h2>

      <ul>
      <% @dinosaur_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_carnivore %><br>
    <%= f.check_box :is_carnivore %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
