<p id="notice"><%= notice %></p>

<h1>Listing Dinosaur Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is carnivore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dinosaur_types.each do |dinosaur_type| %>
      <tr>
        <td><%= dinosaur_type.name %></td>
        <td><%= dinosaur_type.is_carnivore %></td>
        <td><%= link_to 'Show', dinosaur_type %></td>
        <td><%= link_to 'Edit', edit_dinosaur_type_path(dinosaur_type) %></td>
        <td><%= link_to 'Destroy', dinosaur_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dinosaur type', new_dinosaur_type_path %>
