<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dinosaur_type.name %>
</p>

<p>
  <strong>Is carnivore:</strong>
  <%= @dinosaur_type.is_carnivore %>
</p>

<%= link_to 'Edit', edit_dinosaur_type_path(@dinosaur_type) %> |
<%= link_to 'Back', dinosaur_types_path %>
